<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Index</title>
</head>
<body>
    <h1>All Pokemons</h1>
    <a href="/pokemons/new">Catch a New Pokémon</a>
    <ul>
        <% pokemons.forEach(pokemon => { %>
            <li>
                <a href="/pokemons/ <%= pokemon._id  %>"><%= pokemon.name %> </a>
            </li>
        <% }); %>
    </ul>
</body>
</html>